<div class="grid-row">
    <div class="articleList" style="height: 958px;">
        <div class="articleItem pure-text fadeInLeft" articleid="1583c79f13e"
             style="position: absolute; top: 0px; left: 0px; width: 292px;"><a href="/blog/1583c79f13e"
                                                                               title="小剧客栈是怎么样跑起来的？"
                                                                               class="link">
            <div class="title">小剧客栈是怎么样跑起来的？</div>
            <div class="info"><p>自从小剧开设博客以来，不少朋友比较喜欢。特别是2014年底更改为响应式+单页的体验之后表示喜欢并愿意使用小剧代码的朋友也变得更多。

                作为个人博客， 小剧向来不介意局部借鉴或全盘照搬，但是却并没有刻意为了安装的便捷性做过任何工作。不少朋友也跟我讨论过安装初始化的问题。在Github至今仍有一个未关闭的
                issue，摘抄一句我其中的一条回复。

                我的博客完全是一套自嗨的代码，目前只有两个朋友反馈运行</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=小剧客栈">小剧客栈</a><a
                        href="/blog?tag=nodeJS">nodeJS</a><a href="/blog?tag=mongo">mongo</a></div>
                <div class="time">11-07 2016</div>
            </footer>
        </div>
        <div class="articleItem pure-text fadeInLeft" articleid="1519be3ba31"
             style="position: absolute; top: 0px; left: 302px; width: 292px;"><a href="/blog/1519be3ba31"
                                                                                 title="剿灭 jQuery 的第一步（IE8+）"
                                                                                 class="link">
            <div class="title">剿灭 jQuery 的第一步（IE8+）</div>
            <div class="info"><p>强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery
                倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=javascript">javascript</a><a
                        href="/blog?tag=jQuery">jQuery</a></div>
                <div class="time">12-13 2015</div>
            </footer>
        </div>
        <div class="articleItem pure-text fadeInLeft" articleid="1517bbc58f4"
             style="position: absolute; top: 0px; left: 604px; width: 292px;"><a href="/blog/1517bbc58f4"
                                                                                 title="对象的自我销毁"
                                                                                 class="link">
            <div class="title">对象的自我销毁</div>
            <div class="info"><p>构建对象时添加自定义方法`destroy`，手动销毁对象内部的一些引用，用来弥补仅靠移除`DOM`并不能达到销毁对象的缺陷。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=javascript">javascript</a><a
                        href="/blog?tag=destroy">destroy</a><a href="/blog?tag=销毁">销毁</a></div>
                <div class="time">12-07 2015</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="159178727d4"
             style="position: absolute; top: 0px; left: 906px; width: 292px;"><a href="/blog/159178727d4"
                                                                                 title="从零开始制作全景图"
                                                                                 class="link">
            <div class="label"><span>new</span></div>
            <div class="pic"><img src="//dn-lay.qbox.me/blog/panocreate/paizhao.jpg?imageView2/2/w/420/q/85"
                                  alt="从零开始制作全景图"/></div>
            <div class="title">从零开始制作全景图</div>
            <div class="info"><p>
                2016年被称作VR产业元年，VR全景漫游作为整个VR中的领头军，在内容产出量上占据着比较大的比重。经过半个月摸索，小剧终于研究出如何拍摄、制作以及生成全景图，这里分享下这段时间研究的成果，供大家交流参考。</p>
            </div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=全景">全景</a><a href="/blog?tag=VR">VR</a><a
                        href="/blog?tag=设计">设计</a><a href="/blog?tag=PTGui">PTGui</a></div>
                <div class="time">01-08 2017</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="152e93dd5cf"
             style="position: absolute; top: 0px; left: 1208px; width: 292px;"><a href="/blog/152e93dd5cf"
                                                                                  title="在办公室里就可以做的3D立体画"
                                                                                  class="link">
            <div class="pic"><img src="//dn-lay.qbox.me/blog/3d_pic/dinosaur.jpg?imageView2/2/w/420/q/85"
                                  alt="在办公室里就可以做的3D立体画"/></div>
            <div class="title">在办公室里就可以做的3D立体画</div>
            <div class="info"><p>无论再精彩的3D立体画，终究都是站在某一点观察平面图像时产生的错觉而已。经过小剧的一番思考，发现可以利用 photoshop
                快速制作出一些有意思的3D立体图。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=3D">3D</a><a href="/blog?tag=立体图">立体图</a><a
                        href="/blog?tag=生活">生活</a><a href="/blog?tag=设计">设计</a></div>
                <div class="time">02-16 2016</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="151d7305a1b"
             style="position: absolute; top: 171px; left: 604px; width: 292px;"><a href="/blog/151d7305a1b"
                                                                                   title="移动手势的秘密"
                                                                                   class="link">
            <div class="pic"><img src="//dn-lay.qbox.me/blog/toucher/Qzone.jpg?imageView2/2/w/420/q/85"
                                  alt="移动手势的秘密"/></div>
            <div class="title">移动手势的秘密</div>
            <div class="info"><p>手势是帮助用户完成人机交互的其中一个环节，简单来说手势是一种输入方式、可以起到简化界面元素、增加交互趣味性的作用。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=javascript">javascript</a><a
                        href="/blog?tag=手势">手势</a></div>
                <div class="time">12-25 2015</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="1506bf6a3f8"
             style="position: absolute; top: 205px; left: 302px; width: 292px;"><a href="/blog/1506bf6a3f8"
                                                                                   title="一枚日历的成长史"
                                                                                   class="link">
            <div class="pic"><img src="//dn-lay.qbox.me/blog/calendar/demo.png?imageView2/2/w/420/q/85"
                                  alt="一枚日历的成长史"/></div>
            <div class="title">一枚日历的成长史</div>
            <div class="info"><p>WEB开发中，常常会涉及到对日期的选择操作，日历控件的使用尤为频繁，今天小剧就来扒一扒如何一步步实现一枚日历。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=日历">日历</a><a
                        href="/blog?tag=javascript">javascript</a></div>
                <div class="time">10-15 2015</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="14f132531e0"
             style="position: absolute; top: 297px; left: 0px; width: 292px;"><a href="/blog/14f132531e0"
                                                                                 title="Seaport，极致之后再进一步"
                                                                                 class="link">
            <div class="pic"><img src="//dn-lay.qbox.me/blog/seaport/cover.jpg?imageView2/2/w/420/q/85"
                                  alt="Seaport，极致之后再进一步"/></div>
            <div class="title">Seaport，极致之后再进一步</div>
            <div class="info"><p>Seaport是小剧客栈精炼代码替换Sea.js走的最后一公里，并不适合所有情况，如果你的项目同时满足下面的这些条件，还是可以一试的。1、全部需要的
                JS 都都已合并至同一个文件，2、除了主文件，没有通过seajs.use引用其他文件，3、没有使用seajs插件。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=Seaport">Seaport</a><a
                        href="/blog?tag=javascript">javascript</a><a href="/blog?tag=Sea.js">Sea.js</a><a
                        href="/blog?tag=压缩">压缩</a><a href="/blog?tag=优化">优化</a></div>
                <div class="time">08-09 2015</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="14eaec346e5"
             style="position: absolute; top: 347px; left: 1208px; width: 292px;"><a href="/blog/14eaec346e5"
                                                                                    title="参加iWeb峰会是种什么样的体验？"
                                                                                    class="link">
            <div class="pic"><img src="//dn-lay.qbox.me/blog/iweb2015/cover.jpg?imageView2/2/w/420/q/85"
                                  alt="参加iWeb峰会是种什么样的体验？"/></div>
            <div class="title">参加iWeb峰会是种什么样的体验？</div>
            <div class="info"><p>爱凑热闹的小剧这次又混进了iWeb峰会，不过想想我七点就爬起床，上班都没有这般热情，也是蛮不容易的。</p></div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a href="/blog?tag=活动">活动</a><a href="/blog?tag=交流会">交流会</a>
                </div>
                <div class="time">07-21 2015</div>
            </footer>
        </div>
        <div class="articleItem  fadeInLeft" articleid="14e6e855585"
             style="position: absolute; top: 371px; left: 906px; width: 292px;"><a href="/blog/14e6e855585"
                                                                                   title="利用页面可见性API搞个怪"
                                                                                   class="link">
            <div class="pic"><img
                    src="//dn-lay.qbox.me/blog/visibilitychange/cover.jpg?imageView2/2/w/420/q/85"
                    alt="利用页面可见性API搞个怪"/></div>
            <div class="title">利用页面可见性API搞个怪</div>
            <div class="info"><p>继各大站点、博客在用console发招聘、玩游戏、埋彩蛋之后，小剧似乎又发现了一个好玩儿的东西，目测会火，利用页面可见性API做些小技俩。</p>
            </div>
        </a>
            <footer>
                <div class="tags"><strong>tags</strong><a
                        href="/blog?tag=visibilitychange">visibilitychange</a><a
                        href="/blog?tag=page">page</a><a href="/blog?tag=visibility">visibility</a><a
                        href="/blog?tag=javascript">javascript</a></div>
                <div class="time">07-09 2015</div>
            </footer>
        </div>
    </div>
    <div class="status">
        <div class="l-loading-panel hide"><span class="l-loading"></span></div>
    </div>
</div>