<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>
    <title>首页</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}"  href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <style>
        body {
            padding-top: 70px;
            color: #333;
            font-size: 14px;
            font-family: "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
            -webkit-font-smoothing: antialiased;
            background: #f4f4f4 url(//dn-lay.qbox.me/build/single-page/images/mask_f70d8a0.png);
        }
        .top{
            border-top:2px solid #f70;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0,0,0,.4);
        }
        .navb{
            width:75%;
        }
        .panel{
            margin:2px 2px;
            border-radius: 0px;
        }
        .panel .panel-heading{
            padding:0px 0px;
            border: none;
        }
        .panel .panel-footer{
            background-color: #ffffff;
        }
        .col-xs-12,col-md-3{
            padding-right: 2px;
            padding-left: 2px;
        }
        .container-fluid{
            width:auto;
        }
        .panel-body .title {
            display: block;
            padding: 0em .5em .2em;
            font-weight: 400;
            line-height: 1.5em;
            text-align: center;
            font-size: 18px;
            color: #000;
            outline: 0;
        }
        .panel-body .content {
            padding: 10px 0px;
            line-height: 1.4;
            font-size: 13px;
            color: #888;
            text-indent: 2em;
        }
        .tags {
            display: table-cell;
            width: 99%;
            font-size: 13px;
        }
        .tags strong {
            margin-right: 5px;
            color: #aaa;
            font-weight: 400;
        }
        .tags a {
            display: inline-block;
            margin-right: 5px;
            color: #777;
        }
        .aside {
            width: 265px;
            float: right;
            margin-bottom: 15px;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="navb">
    <nav class="navbar navbar-default navbar-fixed-top top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Maji</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="javascript:add()">Fixed top <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="http://dn-lay.qbox.me/images/liferay_frontEnd_dev.png?imageView2/2/w/420/q/85"/>
                </div>
                <div class="panel-body">
                    <div class="title">
                        你叫什么名字？
                    </div>
                    <div class="content">
                        <p>
                            强大的DOM选择器和兼容性方面的处理，是很多人离不开jQuery 的一大原因，若项目在浏览器支持上并不需要向下兼容，合理的放弃 jQuery 倒也未尝不可，小剧就来说说如何实现 dom 的选择查找。
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="tags">
                        <strong>tags</strong>
                        <a href="#">java</a>
                        <a href="#">c#</a>
                        <a href="#">nodejs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{jquery.min.js}" type="text/javascript" src="../static/jquery.min.js"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}" type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{masonry.min.js}" src="/assets/masonry.min.js" type="text/javascript"></script>
<script th:src="@{stackgrid.min.js}" src="/assets/masonry.min.js" type="text/javascript"></script>
</body>
<script th:inline="javascript">

    $(function() {
        var $container = $('.row');
        $container.imagesLoaded(function() {
            $container.masonry({
                itemSelector: '.col-xs-12',
                isAnimated: true,
            });
        });
    });

    //获取页面顶部被卷起来的高度
    function scrollTop(){
        return Math.max(
            //chrome
            document.body.scrollTop,
            //firefox/IE
            document.documentElement.scrollTop);
    }
    //获取页面文档的总高度
    function documentHeight(){
        //现代浏览器（IE9+和其他浏览器）和IE8的document.body.scrollHeight和document.documentElement.scrollHeight都可以
        return Math.max(document.body.scrollHeight,document.documentElement.scrollHeight);
    }
    //获取页面浏览器视口的高度
    function windowHeight(){
        //document.compatMode有两个取值。BackCompat：标准兼容模式关闭。CSS1Compat：标准兼容模式开启。
        return (document.compatMode == "CSS1Compat")?
            document.documentElement.clientHeight:
            document.body.clientHeight;
    }
</script>
<script type="text/javascript">
    //图片查询中正对浏览器主页面滚动事件处理(瀑布流)。只能使用window方式绑定，使用document方式不起作用
    $(window).on('scroll',function(){
        if(scrollTop() + windowHeight() >= (documentHeight() - 50/*滚动响应区域高度取50px*/)){
            add();
        }
    });
    function add(){
        var container = document.querySelector('.row');
        var msnry = new Masonry( container);
        var elems = [];
        var fragment = document.createDocumentFragment();
        for(var i = 0;4>i; i++){
            var elem = getItemElement();
            fragment.appendChild( elem );
            elems.push( elem );
        }
        container.appendChild( fragment );
        msnry.appended( elems );
        msnry.reloadItems();
    }

    function getItemElement() {
        var elem = document.createElement('div');
        var html='<div class="panel panel-default">'+

            '<div class="panel-heading">'+
            '<img class="img-responsive" src="http://yqyd-img.oss-cn-hangzhou.aliyuncs.com/1411716657955.jpg"/>'+
            '</div>'+
            '<div class="panel-body">'+
            '是不是很帅气？'+
        '</div> <div class="panel-footer">小孩子别瞎说</div></div>';
        $(elem).html(html)
        elem.className = 'col-xs-12 col-md-3';
        return elem;
    }
</script>
</html>
